//- hellodata.pug

extends layout


block content
  h1 #{title}
  table(class="table table-bordered")
    thead
      tr
        th="NO."
        th="email"
        th="password"
    tbody
      each val, index in postList
        tr
          td #{val.id}
          td #{val.email}
          td #{val.password}



